{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="container">
        <h2>Contact Us</h2>
        <section class="contact-section">
            <p>We'd love to hear from you! Reach out to us for any inquiries, feedback, or support.</p>
            
        </section>
    </div>

</body>
</html>
